[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyter = "*"
matplotlib = "*"
pandas = "*"
numpy = "*"
praw = "*"
python-dotenv = "*"
nltk = "*"
scikit-learn = "*"
tqdm = "*"

[dev-packages]
